footer{
    text-align: center;
    vertical-align: baseline;
    color: white;
}

p{
    padding-top: 0.9em;
}
.contacto {
    color: white;
    font-size:1em;
    float: right;
    
 }

 .name{
    color: white;
    font-size: 1em;
 }


#twitter-logo {
    width: 1em;
    margin: 8px; 
    float: right; 
    line-height: 200px;
}
@media screen and (max-width: 750px) {
    .name{
        display: none;
    }
    #twitter-logo{
        text-align: center;
        float: inherit;
        margin: 0;
        
    }
    .contacto{
         float: inherit;
    }
    p{
        padding: 0;
    }
}
     