footer{
    background-color: #009688; 
    text-align: center;
    
vertical-align: baseline;
    height: 4.5em;  
    color: white;
    margin: auto;

}

a {
    text-decoration: none;
}
p{
    padding-top: 0.9em;
}
.contacto {
    color: white;
    font-size:1.2em;
    float: right;
    
 }


#twitter-logo {
    width: 5em;
    margin: 8px; 
    float: right; 
    line-height: 200px;
}

.name{

vertical-align: baseline;
  
}
     