<div>
    <div class="row">
        <div class="fb-share-button" 
        data-href="https://noticias.efectomariposa.org/desierto-component" 
        data-layout="button_count">
        </div>
        <div class="colum">
            <h1>Más de 200 plantas endémicas serán protegidas en el futuro Parque Nacional desierto Florido</h1>
            <hr>
            <img src="./assets/desierto_florido.jpg" alt="">
            <h4>El presidente Gabriel Boric hizo el anuncio de la creación de esta nueva reserva natural ubicada a 30 km a sur de Copiapó en la Región de Atacama de Chile. Está zona protegida se concretaría durante el primer semestre del 2023</h4>
            <p>En este lugar florecen cada tres, cinco o diez años, dependiendo de la lluvia y condiciones climáticas, más de 200 especies de plantas, lo que atrae insectos y fauna potenciando la biodiversidad del sector.</p>
            <p>Este rápido y masivo crecimiento de plantas genera durante la primavera, una sucesión de floraciones de especies como arbustos xerófilos, suculentas y cactáceas, así también de herbáceas anuales y perennes en estado latente por años, que son visibles cuando se producen las condiciones favorables de humedad y temperatura en el suelo.</p>
            <p>También una abundante diversidad de hierbas perennes y anuales que surgen a la superficie. Las primeras corresponden principalmente a plantas que poseen resistentes bulbos, tubérculos, rizomas o raíces preservantes que les permite pasar largos períodos de dormidos mientras las condiciones del medio no sean favorables, como por ejemplo las especies: huillis, añañucas, lirios de campo, patas de guanaco.</p>
        </div>
    </div>  
</div>
