<div>
    <div class="row">
        <div class="colum">
            <h1>Científicos censaron la cantidad de hormigas que habitan el planeta</h1>
             <hr>
            <img src="http://1.bp.blogspot.com/-8MeqXZF5giM/Ta3Q9VzqKcI/AAAAAAAAAq8/oB6oG3uPIGk/s1600/hormigas_www.plantamer.blogspot.com.jpg" alt="Foto de hormigas">
            <h4>Los científicos concluyeron que en todo el planeta viven alrededor de 20 000 billones de hormigas, integrantes fundamentales para los ecosistemas del planeta tierra.</h4>
            <p>La relevancia de este estudio está en comprender como modificaciones ambientales y el cambio climático pueden afectar su población. Estos insectos son actores protagónicos de la diversidad de especies porque laboran dispersando semillas, son reserva de organismos, el alimento de especies o depredadores de otras.</p>
            <p>Este estudio fue publicado en la revista Proceedings of the National Academy of Sciences (PNAS), los investigadores de República Checa analizaron 465 estudios que midieron la cantidad de hormigas.</p>
            <p>El siguiente paso para los científicos es estudiar los factores ambientales que afectan la densidad de población de estas diminutas criaturas.</p>
        </div>
    </div>  
</div>
