<div>
    <div class="row">
        <div class="colum">
            <h1>Impactante hallazgo de cadáveres de perros arrojados en bolsas de basura en el cerro Polanco de Valparaíso</h1>
            <hr>
            <img src="http://img.soy-chile.cl/Fotos/2016/01/13/file_20160113205322.jpg" alt="">
            <h4>Los vecinos se encuentran consternados ante restos de canes que a la presencia de los restos de canes faenados. Los antecedentes fueron entregados a la Bidema para su investigación.</h4>
            <p>Los perros comunitarios del sector abrieron las bolsas dejando a la vista los restos y esqueletos de animales. La noticia se hizo viral y la municipalidad de Valparaíso comprometió presentar una querella por este caso de maltrato animal. Así mismo, el diputado Andrés Celis entregó los antecedentes a la Brigada de Investigaciones del Medio Ambiente y a la Seremi de Salud.</p>
            <p>Los responsables arriesgan una sanción penal de presidio menor en su grado mínimo a medio (61 días a 3 años de prisión) y multa de dos a tres UTM.</p>
            <p></p>
        </div>
    </div>  
</div>
