<div>
    <div class="row">
        <div class="colum">
            <h1>Estudio revela un creciente interés en Chile por alimentos a base de plantas</h1>
            <hr>
            <img src="https://3.bp.blogspot.com/-KU8mOoCIBXc/UaMJYBzKZbI/AAAAAAAADg4/qp0i5E9ZR2M/s640/pastel-guisantes-vegano.JPG" alt="Foto">
            <h4>
                El estudio realizado por Ipsos Chile, patrocinado por Fundación Vegetarianos, refleja el aumento del consumo de alimentos basados en planta.</h4>
            <p>La consulta indagó en las motivaciones que han llevado a este aumento: el 70% estaría dispuesto a comprar un producto vegetariano, motivados por los beneficios de la salud, mientras que un 29% lo haría por el bienestar de los animales o cuestiones de tipo éticas.</p>
            <p>Si bien los resultados establecen que el 84% dice consumir regularmente una alimentación de tipo omnívora, un 9% con una dieta que promueve la ingesta de vegetales por sobre animal (flexitaliana), 3% vegetariana, 3% de productos marinos y 1% vegana.</p>
            <p>El director comercial de Espacio Food&Service, Andrés Ilabaca, explicó que “el veganismo en Chile sigue creciendo, especialmente entre los menores de 30 años. Chile supera a Brasil y Argentina en el posicionamiento de los productos Plant Based en el mercado, donde nuestro país ha alcanzado un 5% en lo que va de este año, mientras que en los otros dos países es de un 3% y un 0,3%, respectivamente”. Este y otros temas del mundo vegano fueron analizados en profundidad durante el Congreso Chile Plant Based, evento que busca reunir a la industria en torno a la evolución gastronómica de los alimentos basados en plantas y cómo el sector tradicional puede integrar estas opciones alimenticias</p>
        </div>
    </div>  
</div>
