h1{
    font-size: 3rem;
}

.noticias-card{
    display: grid;
    grid-template-columns: 60% 1fr;
}

.card-photo{
    box-sizing: border-box;
    width: 100%;
    padding: 14px;
}

@media screen and (max-width: 596px) {
    .noticias-card{
        display: grid;
        grid-template-columns: 100%;
    }

}

