* {
  box-sizing: border-box;
}
  .row {
margin: 0px;
  }
  .colum {
    text-align: center;
  }
  h1, hr{
    text-align: left;
    padding: 5px;
    margin: 20px 240px;
  }
  h4{
    margin: 20px 240px;
    text-align: left;
    color: #734124;
  }
  p{
    font-size: 23px;
    margin: 20px 180px;
    text-align: justify;
  }
  
  img {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  width: 70%;
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.fecha{
  position: relative;
  right: 420px;
}
.twitter-share-button{
  color: #1DA1F2;
  background-image: '../assets/TwitterCircle.png';
}

.fb-share-button{
  padding-right: 20px;
 
    }

@media screen and (max-width: 750px) {
  h1, hr{
    text-align: left;
    padding: 5px;
    margin: 15px;
  }
  h1{
    font-size: 1.5em;
  }
  h4{
    margin: 15px;
    font-size: 1.2em;
  }
  p{
    font-size: 1.1em;
    margin: 20px;
  }
  img{
    width: 90%;
  }
}