<div>
    <div class="row">
        <div class="colum">
            <h1>Un equipo interdisciplinario integrado por universidades y centros de investigación realizaron el primer estudio detallado de las emisiones de gases contaminantes domiciliarios, del transporte, la industria y la minería.</h1>
            <hr>
            <img src="https://tse1.mm.bing.net/th?id=OIP.PJPntdXJMLIbL1krubUK1gHaEE&pid=Api&P=0" alt="Foto">
            <h2>La investigación publicada en Earth System Science Data es el primer mapa de la calidad del aire en todo el territorio de Chile, se trata de un Inventario Nacional de Emisiones Antropogénicas.</h2>
            <p>En lo que se refiere a los gases de efecto invernadero, puntualmente el CO2, las emisiones son una de las más altas de América Latina al relacionarlo porcentualmente con la cantidad de habitantes. La producción estimada al año llega a cerca de las 5 toneladas per cápita al año.</p>
            <p>Las emisiones de este gas se distribuyen principalmente en el norte y centro del país, particularmente en los lugares donde abundan las centrales termoeléctricas, que aportan 33.911 kilo toneladas al año. Le siguen los sectores transporte e industria, con 22.770 y 13.804 kilos toneladas al año, respectivamente.</p>
            <p>Otro dato interesante de este estudio es el análisis del material particulado (partículas líquidas o sólidas que se encuentran en suspensión). El PM 2,5 corresponde al más pequeño y también más nocivo porque tiene un alto grado de penetración en el cuerpo. Sorprendentemente, se constató que más del 90% tiene como origen el sector residencial.</p>
            <p>Este tipo de contaminantes es generado mayoritariamente en el centro y sur de Chile y es uno de los grandes contribuyentes a la mala calidad del aire en estos territorios. El consumo de leña en núcleos urbanos es el principal problema en este ámbito, sobre todo en la Macrozona Sur. </p>
        </div>
    </div>  
</div>
