body {
    padding: 0;
    margin: 0;
}

#grid {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 0.5fr;
}
.noticias-card{
    display: flex;
}

.card-text {
   text-align: left;
}

.card-photo{
    width: 100%;
    height: 331px;
    padding: 14px;
}

/* Responsive Styles */
  
  @media screen and (max-width: 1196px) {

    .photo{
        text-align: center;
    }
    .noticias-card {
        display: block;
        width: 100%;
        text-align: center;
    }
    .card-group{
        display: grid;
    }
    #grid {
    display: grid;
    width: 100%;
    grid-template-columns: 2.5fr;
    }

    #noticia_dos {
        display: none;
    }
}

@media screen and (max-width: 596px) {
   
     .card-photo img {
        max-width: 320px;
    }
}

