<div id="grid" role="main" class="container mt-5">
    <div id="Noticia_Uno container" class="card" >      
         <div class="noticias-card" *ngFor="let noticia of noticiasdeldia">
            <div class="card-body">
                <a routerLink="{{noticia.enlace}}"><h5 class="card-title"><span>{{noticia.titulo}}</span></h5></a>
                <p class="card-text">{{noticia.texto}}</p>
            </div>
            <img class=" card-photo" src="{{noticia.imagen}}"
                 alt="Card image cap">
            
        </div>
        <div class="card-group">
            <div class="card p-4" *ngFor="let noticiados of noticiassecundarias">
             <img class="card-img-top" src="{{noticiados.imagen}}" alt="Card image cap">
             <div class="card-body">
                <a routerLink="{{noticiados.enlace}}"><h5 class="card-title">{{noticiados.titulo}}</h5></a>
                <p class="card-text">{{noticiados.texto}}</p>
                <p class="card-text"><small class="text-muted">20-09-2022</small></p>
             </div>
         </div>
      </div>
    </div>

 <!-- Contenido secundario -->
  
  <div id="noticia_dos">
  <app-newssectionb></app-newssectionb>
  </div>
</div>
<app-footer></app-footer>
