/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "bootstrap/dist/css/bootstrap.css";


.fb-share-button {
  margin: 0.2em;
  display: inline-block;
}

svg{
  width: 35px;
  display: inline;

}

  .iconos{
    display: flex;
  }